<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Walk Speed</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string> </string>
			<key>Titles</key>
			<array>
				<string>Slow</string>
				<string>Normal</string>
				<string>Fast</string>
			</array>
			<key>Values</key>
			<array>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>Key</key>
			<string>walk_speed</string>
			<key>DefaultValue</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Maximum Walk Time</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>20</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Key</key>
			<string>max_walk_time</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Minimum Transfer Wait Time</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Key</key>
			<string>min_transfer_wait_time</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Maximum Transfer Wait Time</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>20</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Key</key>
			<string>max_transfer_time</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Maximum Transfers</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>max_transfers</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
